body{
    background: linear-gradient(320deg, #0ea9f1, #00c3f2, #00d9da, #37eab3 ,#a4f58a);
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    text-align: center;
    color: #d2f5ff;
}

.p-1 {
    font: 20px sans-serif;
    word-spacing:1px;
}

.p-2 {
    word-spacing:normal;
    font: 20px sans-serif;
}

main {
    display: flex;
  
}
 
.tinggi {
    position: relative;
}

#height-alert {
    font: 15px sans-serif;
    margin-left: 8px;
    margin-top: 0;
    text-decoration: underline;
    color: red;
}

.number {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.left-aside {
    margin: 10px;
}

.right-aside {
    margin: 10px;
}

button {
    border: none;
}

.btn {
    display: flex;
    gap: 4px;
    margin-top: 15px;
    margin-left: 4px;
    margin-bottom: 4px;
}

.hitung-btn {
    cursor: pointer;
    font-weight: bold;
    background-color: #0ea9f1;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.hitung-btn:hover {
    background-color: white;
    color: #0ea9f1;
    padding: 8px;
    border-radius: 4px;
    transition: 0.5s all ease-in-out;
}
.reset-btn {
    cursor: pointer;
    font-weight: bold;
    background-color: #0075b9;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.reset-btn:hover {
    background-color:ghostwhite;
    color: #0ea9f1;
    padding: 8px;
    border-radius: 4px;
    transition: 0.5s all ease-in-out;
}

.form {
    background-color: #d2f5ff;
    padding: 8px;
    border-radius: 4px;
}

.hasil {
    text-align: center;
    background-color:#d2f5ff ;
    padding: 8px;
    border-radius: 2px;
}

.hasil-p {
    word-spacing:normal;
    font: 20px sans-serif;
}

#hasil-akhir {
    display: none;
}

.footer-p {
    text-align: center;

}

